<h1>FOLLOWING ARE THE DETAILS OF "<%= @tuitionfee.tuitionfee_code %>"</h1>
<div>
<li>CODE OF THIS TUITION FEE: <%= @tuitionfee.tuitionfee_code %></li>
<li>FEE OF TERM-1: <%= @tuitionfee.term_1_fee %></li>
<li>FEE OF TERM-2: <%= @tuitionfee.term_2_fee %></li>
<li>FEE OF TERM-3: <%= @tuitionfee.term_3_fee %></li>
<li>FEE OF TERM-4: <%= @tuitionfee.term_4_fee %></li>
<li>FEE OF FULL YEAR: <%= @tuitionfee.full_year_fee %></li>
</div>